.btn {
  color: #fff !important;
  margin-top: 5%;
}

.btn-danger:hover, .btn-danger:focus {
  background-color: darken(#d9534f,20%) !important;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: darken(#428bca,20%) !important;
}

.btn-primary:visited, .btn-danger:visited{
  color: #fff
}

.features {
  ul {
    margin-left: 0;
    padding-left: 15px;
  }
}

.jumbotron {
  height: 250px;
  text-align: center;
  background-image: asset-url('splash.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  font-family: 'Helvetica Neue' !important;
  font-stretch: expanded;
  padding-top: 1px;
  padding-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
  /*
  h2 {
  font-size: 35px !important;
  .lead {
  font-family: 'Helvetica Neue' !important;
  font-size: 30px !important;
  }
  } */
}

.no-left-padding {
  padding-left: 0 !important;
}

.listing {
  list-style: none;
  padding-left: 0;
}
